<!-- Clients -->
		<section id="clients" class="alternate">
			<div class="container">

				<div class="heading-title heading-dotted text-center">
					<h2>Our Customers</h2>
				</div>

				<ul class="row clients-dotted list-inline">
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l1.png",
								{width:200}%>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "images.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l9.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l4.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "images (1).png",
								{width:200}%> 
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l10.png" ,
								{width:200}%>
						</a>
					</li>

					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l7.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l12.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l6.png" ,
								{width:200}%>
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l11.png" ,
								{width:200}%>
						</a>
					</li>


					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l8.png",
								{width:200}%> 
						</a>
					</li>
					<li class="col-md-3 col-sm-3 col-6">
						<a href="#">
							<%= image_tag "l17.png",
								{width:200}%>
								
						</a>
					</li>

				</ul>

			</div>
		</section>
		<!-- /Clients -->
