<%= form_with(model: lead) do |form| %>
  <% if lead.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
        <% lead.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Full_name_of_the_contact, style: "display: block" %>
    <%= form.text_field :Full_name_of_the_contact %>
  </div>

  <div>
    <%= form.label :Bussiness_name, style: "display: block" %>
    <%= form.text_field :Bussiness_name %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field :Email %>
  </div>

  <div>
    <%= form.label :Phone, style: "display: block" %>
    <%= form.text_field :Phone %>
  </div>

  <div>
    <%= form.label :Project_name, style: "display: block" %>
    <%= form.text_field :Project_name %>
  </div>

  <div>
    <%= form.label :Project_description, style: "display: block" %>
    <%= form.text_field :Project_description %>
  </div>

  <div>
    <%= form.label :Department_incharge, style: "display: block" %>
    <%= form.text_field :Department_incharge %>
  </div>

  <div>
    <%= form.label :Message, style: "display: block" %>
    <%= form.text_field :Message %>
  </div>

  <div>
    <%= form.label :Attached_file, style: "display: block" %>
    <%= form.text_field :Attached_file %>
  </div>

  <div>
    <%= form.label :Data_of_the_contact_request, style: "display: block" %>
    <%= form.text_field :Data_of_the_contact_request %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
