 <!-- PORTFOLIO -->
		<div id="portfolio" class="portfolio-nogutter">
			<section id="work">

				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Award &#38 Projects</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
							<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
							<li data-filter="commercial" class="filter"><a href="#">commercial</a></li>
						</ul>
					</div>

				</div>


<div class="container">
  <div class="row g-2">
    <div class="col-3">
	<div class="item-box">
							


								<%= image_tag "3.jpeg", {class:"image-responsive",height:180}%>
							

							<div class="item-box-desc">
								<h3>Elevator Pitch Awards, 2015</h3>
							</div>

						</div>
      
    </div>
    <div class="col-3">
    <div class="item-box">
							


							<%= image_tag "4.png", {class:"image-responsive",height:180}%>
							

							<div class="item-box-desc">
								<h3>Speaker Design Award, 2022</h3>

							</div>

						</div>
    </div>
    <div class="col-3">
      <div class="item-box">
							<figure>


								<%= image_tag "8.jpeg", {class:"image-responsive",height:180}%>
							</figure>
							<div class="item-box-desc">
								<h3>Edision Awards, 2017</h3>
							</div>



						</div>

    </div>
    <div class="col-3">
     <div class="item-box">
							<figure>


								<%= image_tag "7.png", {class:"image-responsive",height:180}%>
							</figure>

							<div class="item-box-desc">
								<h3>International Presentation Design Award, 2019</h3>

							</div>
    </div>
	</div>
	<div class="row g-2">
	 <div class="col-3">
      <div class="item-box">
							<figure>


								<%= image_tag "r1.jpeg", {class:"image-responsive",height:180}%>
									
							</figure>

							<div class="item-box-desc">
								<h3>Wiltek Elevators Projects </h3>

							</div>

						</div>
    </div>
    <div class="col-3">
      <div class="item-box">
							<figure>



								<%= image_tag "r2.jpeg", {class:"image-responsive",height:180}%>
							</figure>

							<div class="item-box-desc">
								<h3>Home Elevators Projects</h3>

							</div>

						</div>

    </div>
    <div class="col-3">
     <div class="item-box">
							<figure>


								<%= image_tag "AdobeStock_33975620.jpeg", {class:"image-responsive",height:180}%>
									
							</figure>

							<div class="item-box-desc">
								<h3>Apartment Elevator Projects</h3>

							</div>

						</div>
    </div>
    <div class="col-3">
     <div class="item-box">
							<figure>


								<%= image_tag "download.jpeg", {class:"image-responsive",height:180}%>
									
							</figure>

							<div class="item-box-desc">
								<h3>Vuelifit Glass Elevator Projects</h3>

							</div>

						</div>
    </div>
	</div>
	<div class="row g-2">
	 <div class="col-3">
      <div class="item-box">
							<figure>


								<%= image_tag "AdobeStock_66781279.jpeg", {class:"image-responsive",height:180}%>
									
							</figure>

							<div class="item-box-desc">
								<h3>Building Elevator Projects</h3>

							</div>

						</div>
    </div>
    <div class="col-3">
      <div class="item-box">
							<figure>

								<%= image_tag "AdobeStock_41696502.jpeg", {class:"image-responsive",height:180}%>
									
							</figure>

							<div class="item-box-desc">
								<h3>Repair Elevator Projects</h3>

							</div>

						</div>
    </div>
	<div class="col-3">
      	<div class="item-box">
							

			<%= image_tag "central tower.webp", {class:"image-responsive",height:180}%>
								
						

							<div class="item-box-desc">
								<h3>Central Elevator Projects</h3>

							</div>

						

					
    	</div>
	</div>
    <div class="col-3">
     <div class="item-box">
							<figure>


								<%= image_tag "AdobeStock_170843598.jpeg", {class:"image-responsive",height:180}%>
							</figure>

							<div class="item-box-desc">
								<h3>Mall Elevator Projects</h3>

							</div>

						</div>

					</div>
    </div>
    
	</div>
  </div>

	