<p style="color: green"><%= notice %></p>
<div id="wrapper">

 <%= render "slides"%>
 <%= render "service"%>
  <%= render "parallax" %>
 <%= render "portfolio"%>
 <%= render "testimonials"%>

 <%= render "news"%>
 <%= render "clients"%>
 
<h1>Leads</h1>

<div id="leads">
  <% @leads.each do |lead| %>
    <%= render lead %>
    <p>
      <%= link_to "Show this lead", lead %>
    </p>
  <% end %>
</div>

<%= link_to "New lead", new_lead_path %>
