<div id="wrapper">

 <%= render "slides"%>
 <%= render "service"%>
  <%= render "parallax" %>
 <%= render "portfolio"%>
 <%= render "testimonials"%>

 <%= render "news"%>
 <%= render "clients"%>
 <%= render "contact"%>
</div>